body {
  background-color: black;
  background-image: url("sky.jpg");
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
  width: 600px;
  height: 600px;
  margin: 60px auto;
  background: rgb(33, 56, 67);
  padding: 25px;
  border-radius: 50%;
  box-shadow: inset 0px 20px 25px 0px #8ce3e0, inset 0 30px 15px 0px #3d28e1;
  background-image: linear-gradient(150deg, #28d8ff, #032eff);
  filter: drop-shadow(0 20px 30px #28d8ff33);
  color: black;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
}

select {
  background-color: black;
  opacity: 0.5;
  color: #28d8ff;
  display: block;
  margin-left: 27%;
  font-size: 20px;
  width: 50%;
  border-radius: 5px;
  border-color: whitesmoke;
  padding: 9px;
}
h1 {
  text-align: center;
  opacity: 0.2;
  font-size: 36px;
  background-image: linear-gradient(150deg, #28d8ff, #032eff);
  filter: drop-shadow(0 20px 30px #28d8ff33);
  color: black;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
}

h2 {
  font-size: 33px;
}

.city {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 50px 5px;
  padding: 5px 0;
  color: #28d8ff;
  text-shadow: 4px 6px 4px rgba(4, 34, 36, 0.6);
}
.date {
  font-size: 30px;
  font-style: italic;
}

.time {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
}
.time small {
  font-size: 18px;
  line-height: 36px;
  vertical-align: middle;
}
footer {
  text-align: center;
  background-image: linear-gradient(170deg, #28d8ff, #032eff);
  filter: drop-shadow(0 20px 30px #28d8ff33);
  color: black;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
}
